In [1]:
import pandas as pd

#### 1. Difference between Series, DataFrame and Panel in Pandas.

In [2]:
# A pandas dataframe is a two-dimensional data-structure that can be thought of as a spreadsheet. 
# A dataframe can also be thought of as a combination of two or more series.
# DataFrame = pd.DataFrame()
 
# A pandas series is a one-dimensional data structure that comprises of a key-value pair. 
# It is similar to a python dictionary, except it provides more freedom to manipulate and edit the data.
# Series = pd.Series()

#### 2. Write a program to concat two DataFrames.

In [3]:
DataFrame = pd.DataFrame([[[4,5,4],[4,5,8]],[[4,5,4],[4,5,8]]])
print(DataFrame)

           0          1
0  [4, 5, 4]  [4, 5, 8]
1  [4, 5, 4]  [4, 5, 8]

#### 3. Write a program to perform custom addition function on a DataFrame.

In [4]:
DataFrame = pd.DataFrame([[4,5,4],[4,5,8]])
DataFrame.sum()

0     8
1    10
2    12
dtype: int64

#### 4. Write a program to merge two DataFrames.

In [5]:
DataFrame_1 = pd.DataFrame([[4,5,4],[4,5,8]])
DataFrame_2 = pd.DataFrame([[9,9,9],[7,7,7]])
DataFrame_1 + DataFrame_2

    0   1   2
0  13  14  13
1  11  12  15

#### 5. Write a program to handle missing data from DataFrame.

In [6]:
DataFram = pd.DataFrame([[4,5,5,4],[5,8]])
print(DataFram)
# count the missing values in the data set.
row_0 = DataFram[0].isnull().sum()
print("row_0 null values :",row_0)

row_1 = DataFram[1].isnull().sum()
print("row_1 null values :",row_1)

row_2 = DataFram[2].isnull().sum()
print("row_2 null values :",row_2)

row_3 = DataFram[3].isnull().sum()
print("row_3 null values :",row_3)
# find the % of missing values.if the missing values are less then 30% then drop the row othewise put the values.

print("paresetage values of the missing values:",(DataFrame.isnull().sum() / len(DataFrame))*100)

   0  1    2    3
0  4  5  5.0  4.0
1  5  8  NaN  NaN
row_0 null values : 0
row_1 null values : 0
row_2 null values : 1
row_3 null values : 1
paresetage values of the missing values: 0    0.0
1    0.0
2    0.0
dtype: float64

#### 6. Write program to create bar chart, box chart, area plot, scatter plot and pie chart from a DataFrame.

#### 7. What is the difference between rand() and randn() methods.

In [7]:
# randn generates samples from the normal distribution,
import numpy
print(numpy. random. rand())
# Return a sample from the “standard normal” distribution. 
print(numpy. random.randn())

0.6581353075262841
-0.006488174737630561

#### 8. W.A.P two program Which can represent the difference between rand() and randn().

In [56]:
print(numpy. random.randn(1,10))
print(numpy. random. rand(1,10))

[[-0.59887446 -0.16363433  0.41794803 -1.86847321 -0.67784103  0.56290645
  -0.13052025  0.75215227 -0.62152958 -2.18782254]]
[[0.14931816 0.44571673 0.10634516 0.87504904 0.14401263 0.07897629
  0.79745409 0.51176497 0.70220163 0.09649272]]

#### 9. Assume that in data frame we are having the ‘Elbert’ on some position, how you are going to convert that Name To ‘Albert’, Write a Program For that.

In [9]:
DataFrame = pd.DataFrame({"Elbert":[45,10]})
print(DataFrame)
DataFrame.columns = ["Albert"]
print(DataFrame)

   Elbert
0      45
1      10
   Albert
0      45
1      10

#### 10. You are having Some dataFrame of IPL 
##### Column 1 = Team Name 
##### Column 2 = Team Captain name
##### Column 3 = Total Run by The Team 
##### Column 4 = Year

In [25]:
DataFrame = pd.DataFrame({"Team Name ":[] , 
                          "Team Captain name":[],
                         "Total Run by The Team":[],
                         "Year":[] })

#### 10.1 Write A Pandas Function which can Give the output as Year Vise Run

In [26]:
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Team Name              0 non-null      float64
 1   Team Captain name      0 non-null      float64
 2   Total Run by The Team  0 non-null      float64
 3   Year                   0 non-null      float64
dtypes: float64(4)
memory usage: 62.0 bytes

In [27]:
DataFrame["Year"]

Series([], Name: Year, dtype: float64)

#### 10.2 Write A Pandas Function which can Give the output as Year Vise Average Run

In [29]:
def AVG():
    x = DataFrame["Total Run by The Team"].mean
    sorted("Year")

#### 10.3 Write A Pandas Function which can Give the output as Team vise Run

In [ ]:
def T_R(team_name):
    for i in DataFrmae:
        x = i == DataFrmae["Total Run by The Team"]
    print(x)

#### 10.4 Write A Pandas Function which can Give the output as Captain Occurs in each team.

In [30]:
def T_R(Captain_name):
    for i in DataFrmae:
        x = i == DataFrmae["team_name"]
    print(x)